* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  color: #6b6b6b;
  font-family: arial, helvetica, sans-serif;
  height: 100%;
}
.navbar-section { 
  /* overflow-x:hidden; */
  /* margin-left: -2%; */
  display: flex;
  width: 0%;
  z-index: 9;
  position: sticky;
  top: 0;
}

.ipu-logo-navbar{
  height: 115px;
  margin-right: 211.624px;
  z-index: 1;
  /* margin-right: 10px; */
  /* margin-left: 20px; */
}
.navbar-top {
  display: flex;
  position: sticky;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  z-index: 1;
}
#navbar-top::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #041d54;
  position: absolute; 
  z-index: -1;
}
.p-2 {
  padding: 0.5rem!important;
}
.d-flex {
  display: flex!important;
}
.navbar-top-heading-1,
.navbar-top-heading-1-1 {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 1.75rem;
  font-weight: 600;
  padding-bottom: 8px;
  text-align: center;
}

.navbar-top-heading-1-1 {
  margin-top: 0;
}

.navabr-top-heading-2 {
  margin-bottom: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0px;
}
.navbar-top-heading {
  margin: auto;
}
.header-icons a {
  color: white;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
}

div {
  display: block;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.mcd-menu > li{
  padding-left: 4%!important;
}
.mcd-menu {
  padding-left: 7% ;
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px ;
  position: sticky;
  background: #041D54;
  height: 585px;
  width: 15vw;
  /* padding: 200px 20px 20px 20px; */
  /* position: relative; */
}
.mcd-menu li {
  position: relative;
  padding: 0.9%;
  
}
.mcd-menu li a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: white;
  text-align: left;
  position: relative;
  font-size: 1rem;
  /* text-align: center;
  border-right: 1px solid #E7E7E7; */
  
  
  /* height: 36px; */
  /* border-bottom: 1px solid #EEE; */
  /* == */
}
.mcd-menu li a p {
  float: left;
  margin: 0 ;
}
.mcd-menu li a strong {
  display: block;
  text-align: left;
  /* text-transform: uppercase; */
}
.mcd-menu li a small {
  display: block;
  font-size: 10px;
}

.mcd-menu li a strong, .mcd-menu li a small {
  position: relative;
  
  /* transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear; */
}
.mcd-menu li:hover a strong {
  opacity: 1;
  /* -webkit-animation: moveFromLeft 300ms ease-in-out;
  -moz-animation: moveFromLeft 300ms ease-in-out;
  -ms-animation: moveFromLeft 300ms ease-in-out;
  -o-animation: moveFromLeft 300ms ease-in-out;
  animation: moveFromLeft 300ms ease-in-out; */
}
.mcd-menu li:hover a small {
  opacity: 1;
  /* -webkit-animation: moveFromRight 300ms ease-in-out;
  -moz-animation: moveFromRight 300ms ease-in-out;
  -ms-animation: moveFromRight 300ms ease-in-out;
  -o-animation: moveFromRight 300ms ease-in-out;
  animation: moveFromRight 300ms ease-in-out; */
}
.mcd-menu li:hover > a {
  color: #FFCB04;
}

.mcd-menu li li:hover > a{
  color: #FFCB04;
}

.mcd-menu li a.active {
  position: relative;
  color: #FFCB04;
  border:0;
  /*border-top: 4px solid yellowgreen;
  border-bottom: 4px solid yellowgreen;
  margin-top: -4px;*/
  /* box-shadow: 0 0 5px #DDD;
  -moz-box-shadow: 0 0 5px #DDD;
  -webkit-box-shadow: 0 0 5px #DDD; */
  
  /* == */
  border-left: 4px solid #041D54;
  border-right: 4px solid #041D54;
  margin: 0 -4px;
  /* == */
}
.mcd-menu li a.active:before {
  content: "";
  position: absolute;
  /*top: 0;
  left: 45%;
  border-top: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  
  /* == */
  top: 42%;
  left: 0;
  border-left: 5px solid #041D54;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  /* == */
}

/* == */
.mcd-menu li a.active:after {
  content: "";
  position: absolute;
  top: 42%;
  right: 0;
  border-right: 5px solid #041D54;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.mcd-menu li ul{
  transform: translateY(-50%);
}

.mcd-menu li ul li ul{
  transform: translateY(-40%);
}

.mcd-menu li ul,
.mcd-menu li ul li ul {
  position: absolute;
  height: auto;
  min-width: 200px;
  padding: 0;
  margin: 0;
  background:#2d3f75 ;
  /*border-top: 4px solid #e67e22;*/
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  /*top: 130px;*/
  
  /* == */
  left:235px;
  top: 0px;
  border-left: 4px solid #041D54;
  /* == */
}
.mcd-menu li ul:before {
  content: "";
  position: absolute;
  /*top: -8px;
  left: 23%;
  border-bottom: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  
  /* == */
  top: 55%;
  left: -9px;
  border-right: 5px solid #041D54;
  border-bottom: 5px solid transparent;
  /* border-top: 5px solid transparent; */
  /* == */
}
.mcd-menu li:hover > ul,
.mcd-menu li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  /*top: 100px;*/
  
  /* == */
  /* left:240px; */
  /* == */
}
/*.mcd-menu li ul li {
  float: none;
}*/
.mcd-menu li ul li a {
  padding: 10px;
  text-align: left;
  border: 0;
  /* border-bottom: 1px solid #EEE; */
  color: white;
  /* font-size: 0.8rem; */
  /* == */
  /* height: auto; */
  /* == */
}


/* .mcd-menu li ul li a i {
  font-size: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
} */
.mcd-menu li ul li ul {
  left: 230px;
  top: 0;
  border: 0;
  border-left: 4px solid #041D54;
}  
.mcd-menu li ul li ul:before {
  content: "";
  position: absolute;
  top: 45%;
  /* left: -14px; */
  /* == */
  left: -9px;
  /* == */
  border-right: 5px solid #041D54;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
.mcd-menu li ul li:hover > ul {
  top: 0px;
  left: 200px;
}




/*.mcd-menu li.float {
  float: right;
}*/
.mcd-menu li a.search {
  /*padding: 29px 20px 30px 10px;*/
  padding: 10px 10px 15px 10px;
  clear: both;
}
/* .mcd-menu li a.search i {
  margin: 0;
  display: inline-block;
  font-size: 18px;
} */
/* .mcd-menu li a.search input {
  border: 1px solid #041D54;
  padding: 10px;
  background: #041D54;
  outline: none;
  color: white;
  
  /* == //
  width:170px;
  float:left;
  /* == //
} */
/* .mcd-menu li a.search button {
  border: 1px solid #041D54;
  /*padding: 10px;//
  background: #041D54;
  outline: none;
  color: #FFF;
  margin-left: -4px;
  
  /* == //
  float:left;
  padding: 10px 10px 11px 10px;
  /* == //
}
.mcd-menu li a.search input:focus {
  border: 1px solid #041D54;
} 
.search-mobile { 
	display:none !important;
	/* background:#e67e22; //
	border-left:1px solid #041D54;
	border-radius:0 3px 3px 0;
}
/* .search-mobile i { 
	color:#FFF; 
	margin:0 !important;
} */
.mcd-menu a{
  padding: 0 !important;
}
.mcd-menu a.dropdown, .mcd-menu a.dropdown-head, .mcd-menu strong.dropdown-head{
  list-style: none !important;
  padding: 0px !important;
}

.mcd-menu a.dropdown-head, .mcd-menu strong.dropdown-head{
  padding: 6px !important;
}


.dropdown-head:hover{
  color: #FFCB04;
}

#back-button{
  color: white;
}

.mcd-menu a.dropdown{
  font-size: 1rem;
}

.mcd-menu li ul li ul li{
  display: block;
  line-height: 1.8em;
}

/* google search box */

.gsc-control-cse{
  padding: 3px !important;
}